<%- include('includes/header.ejs') -%>

<h2>Enter your User ID:</h2>
<form method='req' action='/users/:id'>
    <input name='userid' type='number' id='user_id'>
    <button type="submit">Submit</button>
</form>

<p>or create a new user:</p>
<button onclick="document.location='/users/new'">New User</button>



<%- include('includes/footer.ejs') -%>

